<template lang="pug">
  div index
</template>

<script lang="ts">
/**
 * index
 */

/* Node modules */

/* Third-party modules */
import { Vue, Component } from 'vue-property-decorator';

/* Files */

@Component
export default class IndexPage extends Vue {

}
</script>

<style lang="scss" scoped>

</style>
