<template lang="pug">
  v-app
    v-content
      nuxt
</template>

<script lang="ts">
/**
 * default
 */

/* Node modules */

/* Third-party modules */
import { Vue } from 'vue-property-decorator';

/* Files */

export default Vue.extend({

});
</script>

<style lang="scss" scoped>
</style>
