<template lang="pug">
  v-row( justify="center" )
    v-col( cols="12" )
      v-row( no-gutters justify="center" )
        v-col(
          cols="12"
          lg="10"
          xl="8"
        )
          v-row( no-gutters )
            v-col.pr-2(
              cols="12"
            )
              v-row.pb-2( no-gutters )
                v-card(
                  width="100%"
                  flat
                )
                  v-card-title.subtitle-1.red--text.font-weight-medium.text-uppercase
                    span( v-if="error.statusCode === 404") Page not found
                    span( v-else ) Error

                  v-card-text
                    NuxtLink( :to="{ name: 'index' }" ) Home page
</template>

<script lang="ts">
/**
 * error
 */

/* Node modules */

/* Third-party modules */
import { Vue, Component, Prop } from 'vue-property-decorator';

/* Files */
import { IVueError } from '../interfaces/error';

@Component
export default class ErrorLayout extends Vue {
  @Prop({
    type: Object,
    default: null,
  })
  readonly error!: IVueError;
}
</script>

<style lang="scss" scoped>

</style>
